Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2022-12, with the labels that each got.

#480 Fix API doc generation
  Makefile
  apidocgen/main.go
Labels: documentation, enhancement, fix

#476 Change capabilities at CSV from Seamless Upgrades to Full Lifecycle
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: enhancement

#490 [CN-636] add go-version 1.19 to deploy operator step
  .github/workflows/nightly-wan-e2e-gke.yaml
Labels: ci

#482 [CN-620] [CN-561] Refactor persistence E2E tests
  hack/setup-linters.sh
  test/e2e/client_port_forward_test.go
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_expose_externally_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_map_test.go
  test/e2e/hazelcast_multimap_test.go
  test/e2e/hazelcast_persistence_test.go
  test/e2e/hazelcast_queue_test.go
  test/e2e/hazelcast_replicatedmap_test.go
  test/e2e/hazelcast_test.go
  test/e2e/hazelcast_topic_test.go
  test/e2e/hazelcast_user_code_test.go
  test/e2e/hazelcast_wan_slow_test.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/helpers_test.go
  test/ph/phone_home_test.go
  test/ph/util_test.go
Labels: test

#487 ci: add ocp restart mechanism
  .github/scripts/utils.sh
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/nightly-e2e-aks.yaml
  .github/workflows/nightly-e2e-eks.yaml
  .github/workflows/nightly-e2e-gke.yaml
  .github/workflows/nightly-e2e-kind.yaml
  .github/workflows/nightly-e2e-ocp.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
Labels: ci

#491 [CN-633] ci/fix metallb installation on KinD
  .github/workflows/nightly-e2e-kind.yaml
Labels: fix, ci

#493 [CN-611] Add "release/" branch trigger for PR builder
  .github/workflows/pull-request.yml
Labels: ci

#495 [CN-637] fixing expose externally tests on EKS
  test/e2e/hazelcast_expose_externally_test.go
  test/e2e/helpers_test.go
Labels: test

#494 [CN-614] Use ServicePerPodLabelName when ExposeExternally is set
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/newrelic-gke.yaml
  .github/workflows/nightly-e2e-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pull-request.yml
  controllers/hazelcast/hazelcast_resources.go
  test/e2e/hazelcast_expose_externally_test.go
Labels: ci

#501 [CN-639] Fix Hazelcast ConfigMap when multiple CRs for Data Structures are created
  api/v1alpha1/multimap_types.go
  api/v1alpha1/queue_types.go
  api/v1alpha1/replicatedmap_types.go
  api/v1alpha1/topic_types.go
  controllers/hazelcast/hazelcast_resources_test.go
  test/e2e/hazelcast_cache_persistence_test.go
Labels: fix

#506 Fix WAN replication and PH workflows
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/nightly-e2e-aks.yaml
  .github/workflows/nightly-e2e-eks.yaml
  .github/workflows/nightly-e2e-gke.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pull-request.yml
  Makefile
  test/e2e/helpers_test.go
Labels: fix, ci

#508 Fix hostPath E2E tests' paths for multiple tests
  test/e2e/hazelcast_persistence_test.go
Labels: fix

#505 [CN-627] Update pull request builder to use Kind cluster
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/create-release.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/nightly-e2e-aks.yaml
  .github/workflows/nightly-e2e-eks.yaml
  .github/workflows/nightly-e2e-gke.yaml
  .github/workflows/nightly-e2e-kind.yaml
  .github/workflows/nightly-e2e-ocp.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/pull-request-label-update.yaml
  .github/workflows/pull-request.yml
  Makefile
Labels: enhancement, ci

#499 Add empty webhook for replicatedmap and cache
  PROJECT
  api/v1alpha1/cache_webhook.go
  api/v1alpha1/replicatedmap_webhook.go
  bundle.yaml
  config/webhook/manifests.yaml
  main.go
Labels: enhancement

#498 [CN-612] Unify the approach for exposing API fields
  Makefile
  api/v1alpha1/cache_types.go
  api/v1alpha1/cronhotbackup_types.go
  api/v1alpha1/data_structure.go
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hotbackup_types.go
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_types_test.go
  api/v1alpha1/map_types.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/multimap_types.go
  api/v1alpha1/queue_types.go
  api/v1alpha1/replicatedmap_types.go
  api/v1alpha1/topic_types.go
  api/v1alpha1/wanreplication_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle.yaml
  config/crd/bases/hazelcast.com_caches.yaml
  config/crd/bases/hazelcast.com_cronhotbackups.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_hotbackups.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_multimaps.yaml
  config/crd/bases/hazelcast.com_queues.yaml
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  config/crd/bases/hazelcast.com_wanreplications.yaml
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_resources_test.go
  controllers/hazelcast/hazelcast_status.go
  controllers/hazelcast/map_controller.go
  controllers/hazelcast/multimap_controller.go
  controllers/hazelcast/queue_controller.go
  controllers/hazelcast/replicatedmap_controller.go
  controllers/managementcenter/managementcenter_resources.go
  internal/config/hazelcast.go
  internal/phonehome/phonehome.go
  test/e2e/config/hazelcast/config.go
  test/e2e/config/managementcenter/config.go
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_cache_persistence_test.go
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_map_test.go
  test/e2e/hazelcast_queue_test.go
  test/e2e/hazelcast_replicatedmap_test.go
  test/e2e/hazelcast_test.go
  test/e2e/hazelcast_wan_slow_test.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/managementcenter_controller_test.go
  test/integration/suite_test.go
  test/ph/ph_suite_test.go
Labels: enhancement, ci

#502 fix Docker network name in kind workflow
  .github/workflows/nightly-e2e-kind.yaml
Labels: fix, ci

#500 [CN-634] Add client recreation logic for times client cannot access the cluster
  controllers/hazelcast/fakes_test.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/map_controller.go
  internal/hazelcast-client/client_registry.go
  internal/hazelcast-client/status_service.go
Labels: enhancement

#510 [CN-662] path join refactoring
  controllers/hazelcast/hazelcast_resources.go
  test/integration/hazelcast_controller_test.go
Labels: enhancement

#512 [CN-648] rm h.Spec.Persistence.DataLoadTimeoutSec
  controllers/hazelcast/hazelcast_resources.go
  internal/config/hazelcast.go
Labels: enhancement

#513 [CN-647] Add Wan Replication configuration into generated Hazelcast ConfigMap
  api/v1alpha1/data_structure.go
  api/v1alpha1/wanreplication_types.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/hazelcast/wanreplication_status.go
  internal/config/hazelcast.go
  internal/hazelcast-client/wan_service.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/helpers_test.go
Labels: enhancement

#514 [CN-655] set Hazelcast resource message on non-existing hotbackup
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
Labels: fix

#519 [CN-652]-Add focused tests validator into PR builder
  .github/workflows/pull-request.yml
Labels: ci

#511 Replace AutoForceStart with StartupAction [CN-623]
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  bundle.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_persistence_force_start.yaml
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_rest_client.go
  test/e2e/hazelcast_persistence_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
  test/integration/suite_test.go
Labels: feature

#530 Remove concurrecy from dist tests
  .github/workflows/k8s-dist-tests.yaml
Labels: ci, non-release

#531 Update README.md
  README.md
Labels: documentation

#523 [CN-631]-add sync_tags function to fetch latest tag
  .github/scripts/utils.sh
  .github/workflows/publish-release.yaml
  Dockerfile
Labels: ci

#532 Reverse incorrect condition in Wan Replication Controller
  controllers/hazelcast/wanreplication_controller.go
Labels: fix, non-release

#529 [CN-663] Move logs from NewRelic to Grafana Cloud
  .github/grafana/agent-configmap.yaml
  .github/newrelic/newrelic-values.yaml
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/grafana-agent.yaml
  .github/workflows/newrelic-gke.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pull-request.yml
Labels: run-all-test, non-release
