Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2022-11, with the labels that each got.

#465 [CN-619] fix PR actions which is sent from a fork
  .github/workflows/pull-request.yml
Labels: fix, ci

#458 Bump 'platform-operator-agent' image version to 0.1.10
  api/v1alpha1/hazelcast_types.go
  bundle.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
Labels: dependencies

#475 [CN-616] Fix flaky HotBackup with labels test
  test/integration/hazelcast_controller_test.go
Labels: fix, test

#447 [CN-601] Add validating webhook to operator
  Makefile
  PROJECT
  api/v1alpha1/cronhotbackup_types.go
  api/v1alpha1/cronhotbackup_webhook.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/hotbackup_webhook.go
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_webhook.go
  api/v1alpha1/map_webhook.go
  api/v1alpha1/multimap_webhook.go
  api/v1alpha1/queue_webhook.go
  api/v1alpha1/topic_webhook.go
  api/v1alpha1/wanreplication_types.go
  api/v1alpha1/wanreplication_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  internal/protocol/codec/attribute_config_codec.go
  internal/protocol/codec/bitmap_index_options_codec.go
  internal/protocol/codec/dynamic_config_add_queue_config_codec.go
  internal/protocol/codec/event_journal_config_codec.go
  internal/protocol/codec/eviction_config_holder_codec.go
  internal/protocol/codec/hot_restart_config_codec.go
  internal/protocol/codec/index_config_codec.go
  internal/protocol/codec/listener_config_holder_codec.go
  internal/protocol/codec/map_store_config_holder_codec.go
  internal/protocol/codec/merkle_tree_config_codec.go
  internal/protocol/codec/near_cache_config_holder_codec.go
  internal/protocol/codec/near_cache_preloader_config_codec.go
  internal/protocol/codec/query_cache_config_holder_codec.go
  internal/protocol/codec/wan_replication_ref_codec.go
  internal/util/util.go
  internal/util/util_test.go
  internal/webhookca/ca.go
  main.go
  test/e2e/helpers_test.go
Labels: test

#433 [CN-596] Use struct definitions from hazelcast-platform-agent
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/nightly-e2e-aks.yaml
  .github/workflows/nightly-e2e-eks.yaml
  .github/workflows/nightly-e2e-gke.yaml
  .github/workflows/nightly-e2e-kind.yaml
  .github/workflows/nightly-e2e-ocp.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pull-request.yml
  Makefile
  bundle.yaml
  config/crd/bases/hazelcast.com_caches.yaml
  config/crd/bases/hazelcast.com_cronhotbackups.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_hotbackups.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_multimaps.yaml
  config/crd/bases/hazelcast.com_queues.yaml
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  config/crd/bases/hazelcast.com_topics.yaml
  config/crd/bases/hazelcast.com_wanreplications.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_rest_client.go
  controllers/managementcenter/managementcenter_resources.go
  go.mod
  go.sum
  internal/protocol/codec/timed_expiry_policy_factory_config_codec.go
  internal/rest/local_backup_service.go
  internal/rest/upload_service.go
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_map_test.go
  test/e2e/hazelcast_multimap_test.go
  test/e2e/hazelcast_queue_test.go
  test/e2e/hazelcast_user_code_test.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/managementcenter_controller_test.go
Labels: ci, test

#484 ci: Remove 'test/*' path from release drafter labeling config
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter-config.yml
Labels: documentation

#483 ci: Update Allure report to support retries in test run
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/nightly-e2e-aks.yaml
  .github/workflows/nightly-e2e-eks.yaml
  .github/workflows/nightly-e2e-gke.yaml
  .github/workflows/nightly-e2e-kind.yaml
  .github/workflows/nightly-e2e-ocp.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
Labels: ci

#473 [CN-381] Remove temporary codec solution with the fixed version
  internal/protocol/types/event_journal_config.go
  internal/protocol/types/hot_restart_config.go
  internal/protocol/types/merkle_tree_config.go
  internal/protocol/types/request_add_map_config.go
Labels: fix
