Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-01, with the labels that each got.

#527 [CN-661] Add clusterIDs to phone home data
  controllers/hazelcast/fakes_test.go
  internal/hazelcast-client/client.go
  internal/phonehome/phonehome.go
  main.go
Labels: enhancement

#526 Remove localrun
  DEVELOPER.md
  Makefile
  internal/hazelcast-client/config.go
  internal/hazelcast-client/config_test_unit.go
Labels: documentation

#536 Fix Deploy Command
  Makefile
Labels: enhancement, non-release

#533 [CN-691]-Fix WAN replication tests
  .github/workflows/nightly-wan-e2e-gke.yaml
  Makefile
  test/e2e/hazelcast_wan_slow_test.go
  test/maploader/Dockerfile
  test/maploader/go.mod
  test/maploader/go.sum
Labels: fix, ci

#535 [CN-668] - Sync Hazelcast Operator repo with Hazelcast Charts repo
  .github/workflows/helm-chart-release.yaml
Labels: ci

#522 test: Add tests for K8s repartitioning functionality
  test/e2e/hazelcast_backup_slow_test.go
Labels: test

#518 [CN-650]-Add e2e test sub group PR builder
  .github/scripts/utils.sh
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pull-request.yml
  Makefile
Labels: ci

#540 [CN-646] Add webhook support for OLM
  PROJECT
  internal/webhookca/ca.go
  main.go
Labels: fix

#528 Add tilt-debug support
  DEVELOPER.md
  Dockerfile.tilt-debug
  Makefile
  Tiltfile
  config/manager/debug_enabled.yaml
  static/goland_remote_debug.png
Labels: fix, feature, run-all-test

#537 [CN-663] Add k8s integration for Grafana Cloud
  .github/grafana/logs-cm.yaml
  .github/grafana/metrics-cm.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/grafana-agent.yaml
  .github/workflows/pull-request.yml
Labels: ci, run-all-test

#545 Remove 'Cache Golang dependencies' step linters job
  .github/workflows/pull-request.yml
Labels: ci

#542 Fix PR Builder
  .github/scripts/utils.sh
  .github/workflows/delete-clusters.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/grafana-agent.yaml
  .github/workflows/pull-request.yml
  Makefile
Labels: run-all-test

#538 [CN-606][CN-607] Introduce highAvailabilityMode is configuration to create clusters are resilient to node and zone failures
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/map_webhook.go
  bundle.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_high_availability.yaml
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/map_controller.go
  internal/config/hazelcast.go
  internal/phonehome/phonehome.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
Labels: feature

#524 [CN-585] Add operator chart and update make file
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/create-release.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  Makefile
  Tiltfile
  hack/yamllint.yaml
  helm-charts/hazelcast-platform-operator/.helmignore
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/.helmignore
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/NOTES.txt
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/values.yaml
  helm-charts/hazelcast-platform-operator/templates/NOTES.txt
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/templates/clusterrole.yaml
  helm-charts/hazelcast-platform-operator/templates/clusterrolebinding.yaml
  helm-charts/hazelcast-platform-operator/templates/deployment.yaml
  helm-charts/hazelcast-platform-operator/templates/role.yaml
  helm-charts/hazelcast-platform-operator/templates/rolebinding.yaml
  helm-charts/hazelcast-platform-operator/templates/service.yaml
  helm-charts/hazelcast-platform-operator/templates/serviceaccount.yaml
  helm-charts/hazelcast-platform-operator/templates/validatingwebhookconfiguration.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
  internal/webhookca/ca.go
  test/e2e/util_test.go
  test/ph/util_test.go
Labels: documentation, enhancement, ci

#549 Fix make file and change helm chart update workflow name
  .github/workflows/helm-chart-sync.yaml
  Makefile
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: enhancement, fix, ci, non-release

#551 Fix crd chart installation on make file
  .github/workflows/e2e-ocp.yaml
  Makefile
  test/e2e/util_test.go
Labels: run-all-test, non-release

#552 Fix nightly-wan-e2e-test and Change chart version
  .github/workflows/nightly-wan-e2e-gke.yaml
  Makefile
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
Labels: fix, ci, non-release

#546 Fix step for deleting EKS cluster
  .github/scripts/utils.sh
  .github/workflows/e2e-eks.yaml
Labels: ci, run-all-test

#554 Fix wrong variable assignment in WanRep ConfigMap
  controllers/hazelcast/hazelcast_resources.go
Labels: fix

#541 [CN-449] add connectivity check to wan replication cr
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/wanreplication_controller.go
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/dialer/dialer.go
  internal/local_backup/local_backup.go
  internal/naming/constants.go
  internal/rest/dialer_service.go
  internal/rest/local_backup_service.go
  internal/rest/upload_service.go
  internal/upload/upload.go
  main.go
  test/integration/hazelcast_controller_test.go
Labels: enhancement

#559 ci: update release creation workflow
  .github/release-drafter-config.yml
  .github/workflows/create-release.yaml
Labels: ci, non-release

#539 [CN-659] Use podManagementPolicy to improve cluster setup time
  controllers/hazelcast/hazelcast_resources.go
Labels: enhancement, non-release

#561 Add optional print statement for Makefile tools
  Makefile
Labels: ci, non-release

#562 Add if all-crds.yaml is updated check to the pr builder
  .github/workflows/pull-request.yml
Labels: enhancement, ci, non-release

#557 ci: Update test status badges in README.md file
  .github/scripts/utils.sh
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/k8s-dist-tests.yaml
  README.md
Labels: ci

#571 Delete separate autolabeler config
  .github/pr-autolabeler-config.yml
  .github/workflows/pull-request-label-update.yaml
Labels: ci, non-release

#574 Update github_run_id property name and add test dependency into workflow
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/k8s-dist-tests.yaml
Labels: non-release

#521 [CN-599] Improve support for cluster scoped operator
  Makefile
  config/rbac/role.yaml
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/cronhotbackup_controller.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/map_controller.go
  controllers/hazelcast/multimap_controller.go
  controllers/hazelcast/queue_controller.go
  controllers/hazelcast/replicatedmap_controller.go
  controllers/hazelcast/topic_controller.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/managementcenter/managementcenter_controller.go
  helm-charts/hazelcast-platform-operator/templates/clusterrole.yaml
  helm-charts/hazelcast-platform-operator/templates/role.yaml
  internal/naming/constants.go
  internal/phonehome/phonehome.go
  main.go
  test/integration/hazelcast_controller_test.go
Labels: enhancement

#577 Fix operator-sdk installation url
  Makefile
Labels: non-release

#558 [CN-703] Validate if cluster size is not more than 300 in hazelcast cr
  api/v1alpha1/hazelcast_validation.go
  internal/naming/constants.go
  test/integration/hazelcast_webhook_test.go
Labels: bug, fix

#580 [CN-660] Separate Watched and Operator Namespace roles
  Makefile
  api/v1alpha1/hazelcast_webhook.go
  config/rbac/role.yaml
  config/samples/_v1alpha1_hazelcast_persistence.yaml
  config/samples/_v1alpha1_hazelcast_persistence_agent.yaml
  config/samples/_v1alpha1_hazelcast_persistence_force_start.yaml
  config/samples/_v1alpha1_hazelcast_persistence_restore.yaml
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/cronhotbackup_controller.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/map_controller.go
  controllers/hazelcast/multimap_controller.go
  controllers/hazelcast/queue_controller.go
  controllers/hazelcast/replicatedmap_controller.go
  controllers/hazelcast/topic_controller.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/managementcenter/managementcenter_controller.go
  helm-charts/hazelcast-platform-operator/templates/role.yaml
  main.go
  test/e2e/hazelcast_persistence_test.go
Labels: non-release

#569 [CN-701] reunite client registry get and create methods
  controllers/hazelcast/data_structure_controller.go
  controllers/hazelcast/fakes_test.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/map_controller.go
  controllers/hazelcast/wanreplication_controller.go
  internal/hazelcast-client/client_registry.go
  internal/phonehome/phonehome.go
  main.go
  test/e2e/hazelcast_resillience_test.go
  test/integration/suite_test.go
Labels: bug

#584 Fix make tilt target
  Makefile
Labels: non-release

#567 [CN-671] Support -XX:{Initial,Max,Min}RAMPercentage Java options
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_jvm_memory.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: feature

#578 remove duplicated imports
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_persistence_test.go
Labels: non-release

#576 [CN-693]Add new feature to README.md and CSV file
  README.md
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: non-release

#586 [CN-658] Move Webhook CA bundle addition logic to helm
  Makefile
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/templates/deployment.yaml
  helm-charts/hazelcast-platform-operator/templates/service.yaml
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
  internal/naming/constants.go
  internal/webhookca/ca.go
  main.go
Labels: enhancement

#588 [CN-711] Add optional support for operator installation with namespace scoped roles
  .github/workflows/pull-request.yml
  Makefile
  config/rbac/role.yaml
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/templates/chart-validation.yaml
  helm-charts/hazelcast-platform-operator/templates/clusterrole.yaml
  helm-charts/hazelcast-platform-operator/templates/clusterrolebinding.yaml
  helm-charts/hazelcast-platform-operator/templates/role.yaml
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
Labels: enhancement

#587 fix sidecar agent naming in tests
  test/e2e/helpers_test.go
Labels: fix

#573 [CN-702] High Availability Chaos Testing
  .github/scripts/utils.sh
  .github/workflows/high-availability-e2e-gke.yaml
  Makefile
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_high_availability_test.go
Labels: test

#592 fix wanReplication target clusterName
  controllers/hazelcast/hazelcast_resources.go
Labels: non-release

#579 [CN-651]- Added test coverage tool
  .github/codecov.yml
  .github/workflows/k8s-dist-tests.yaml
  Makefile
Labels: non-release

#595 Disable linter cache
  .github/workflows/e2e-ocp.yaml
  .github/workflows/pull-request.yml
Labels: non-release

#593 Merge watched and operator namespace roles for bundle generation
  .github/workflows/certification-tests-and-release.yaml
  Makefile
  config/manager/disable_phone_home.yaml
  config/manager/enable_developer_mode.yaml
  config/manager/kustomization.yaml
  config/manager/remove_security_context.yaml
  config/samples/_v1alpha1_topic.yaml
Labels: non-release

#589 [CN-698] Add cluster scoped operator support to Helm chart
  .github/workflows/pull-request.yml
  DEVELOPER.md
  Makefile
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/templates/chart-validation.yaml
  helm-charts/hazelcast-platform-operator/templates/clusterrole.yaml
  helm-charts/hazelcast-platform-operator/templates/deployment.yaml
  helm-charts/hazelcast-platform-operator/templates/role.yaml
  helm-charts/hazelcast-platform-operator/templates/rolebinding.yaml
  helm-charts/hazelcast-platform-operator/templates/serviceaccount.yaml
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
Labels: enhancement

#572 Remove duplicate expose externally ee test
  test/e2e/hazelcast_expose_externally_test.go
Labels: non-release

#585 [CN-699] Add MTLS secret generation by namespace
  controllers/hazelcast/fakes_test.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/hot_backup_controller_test.go
  controllers/hazelcast/wanreplication_controller.go
  internal/dialer/dialer.go
  internal/local_backup/local_backup.go
  internal/mtls/client.go
  internal/mtls/client_registry.go
  internal/upload/upload.go
  main.go
  test/integration/suite_test.go
Labels: enhancement, run-all-test

#604 Fix wan controller import
  controllers/hazelcast/wanreplication_controller.go
Labels: non-release
