Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-08, with the labels that each got.

#814 [CN-919] Fix WanReplication CR overwrite batch-publishers
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_resources_test.go
  controllers/hazelcast/wanreplication_controller.go
  test/integration/wanreplication_test.go
Labels: fix

#818 [CN-914] Added auto upgrade HZ and MC version step
  .github/workflows/pre-release.yaml
Labels: non-release

#826 Update actions/setup-go@v3 to actions/setup-go@v4
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/high-availability-e2e-gke.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/k8s-cluster-scope-tests.yml
  .github/workflows/k8s-dist-tests.yaml
  .github/workflows/multi-version-tests.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pull-request.yml
Labels: non-release

#827 [CN-918] Update docs-release.yaml workflow
  .github/workflows/docs-release.yaml
Labels: non-release

#824 [CN-938] Fixing E2E test 'connection refused' error on GKE
  test/e2e/hazelcast_test.go
  test/e2e/helpers_test.go
Labels: test, non-release

#830 Omit skipped E2E test logs when running focused cases
  Makefile
Labels: non-release

#825 [CN-929] Migrate secrets to AWS Secrets Manager
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/cleanup-namespace.yaml
  .github/workflows/delete-clusters.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/grafana-agent.yaml
  .github/workflows/helm-chart-sync.yaml
  .github/workflows/high-availability-e2e-gke.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/k8s-cluster-scope-tests.yml
  .github/workflows/k8s-dist-tests.yaml
  .github/workflows/multi-version-tests.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/pre-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/pull-request.yml
  .github/workflows/test-and-release.yaml
Labels: non-release

#832 Fix OCP workflow
  .github/workflows/e2e-ocp.yaml
Labels: non-release

#833 [CN-845] Add persistence validation for hotbackup
  api/v1alpha1/common_validation.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/hot_backup_controller_test.go
  test/e2e/hazelcast_cache_persistence_test.go
  test/e2e/hazelcast_map_persistence_test.go
Labels: bug, non-release

#837 [CN-841] Improve persistence.pvc validation
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/phonehome/phonehome.go
  test/e2e/config/hazelcast/config.go
  test/integration/hazelcast_test.go
Labels: fix

#839 Fixed secrets issue in Grafana workflow
  .github/workflows/grafana-agent.yaml
Labels: non-release

#840 Fix credentials in cleanup-namespace.yaml
  .github/workflows/cleanup-namespace.yaml
Labels: non-release

#842 Removed Cache Golang dependencies
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/community-operator-tests.yaml
  .github/workflows/docs-release.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/high-availability-e2e-gke.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/k8s-cluster-scope-tests.yml
  .github/workflows/k8s-dist-tests.yaml
  .github/workflows/multi-version-tests.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/pull-request.yml
Labels: non-release

#828 [CN-846] Reflect bucket connection errors to the Operator CRs
  Makefile
  api/v1alpha1/cache_types.go
  api/v1alpha1/common_validation.go
  api/v1alpha1/jetjob_validation.go
  test/e2e/hazelcast_backup_test.go
Labels: fix

#845 Update go-client version to latest commit to test
  go.mod
  go.sum
Labels: non-release

#846 Fix flakiness by increasing timeout duration on the HotBackup bucket test
  test/e2e/hazelcast_backup_test.go
Labels: test, non-release

#848 Update Hazelcast and MC version
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/samples/_v1alpha1_hazelcast_jet_job_upload.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: non-release

#850 Update Go client to v1.4.1
  go.mod
  go.sum
Labels: non-release

#851 Update Hazelcast Version to 5.3.2
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  config/samples/_v1alpha1_hazelcast_jet_job_upload.yaml
  config/samples/_v1alpha1_jetjob.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: non-release

#841 [cn-843] [cn-842] Using basedir for backup without "/" causes error during HZ cluster creation and empty basedir
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  test/integration/hazelcast_test.go
Labels: fix

#853 Fix property dependency in publish-release.yaml forkflow
  .github/workflows/publish-release.yaml
Labels: non-release

#852 Update Helm Chart Version to 5.10.0-snapshot
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
Labels: non-release

#855 Fix typo in Cluster Backup Error
  internal/backup/backup.go
Labels: non-release

#862 Set OwnerReference in WAN Services
  controllers/hazelcast/hazelcast_resources.go
Labels: fix

#863 Clean unused JetJobSnapshot RBAC files
  config/rbac/jetjobsnapshot_editor_role.yaml
  config/rbac/jetjobsnapshot_viewer_role.yaml
Labels: non-release
