Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-05, with the labels that each got.

#727 Kubeclient setup in Integration test
  main.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
  test/integration/managementcenter_controller_test.go
  test/integration/suite_test.go
Labels: test, non-release

#729 [CN-831]Remove release-drafter-config.yml and create-release.yaml
  .github/release-drafter-config.yml
  .github/workflows/create-release-notes.yaml
  .github/workflows/create-release.yaml
Labels: non-release

#723 [CN-810] Add possibility to specify the JAR file to be downloaded in the JetJob CR
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/jetjob_types.go
  api/v1alpha1/jetjob_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_jetjobs.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  config/samples/_v1alpha1_jetjob_dynamic.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/jetjob_controller.go
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/rest/file_download_service.go
  main.go
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_jetjob_test.go
  test/integration/jetjob_webhook_test.go
Labels: feature

#733 fixing flaky tests caused by wehbook validation
  test/e2e/hazelcast_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
  test/integration/managementcenter_controller_test.go
  test/integration/webhook_test.go
Labels: fix, test

#735 [CN-812] Rename fields licenseKeySecret to licenseKeySecretName and secret to secretName
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/jetjob_validation.go
  apidocgen/main.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_jetjobs.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/jetjob_controller.go
  controllers/hazelcast/mutate/mutate.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_jetjob_test.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
  test/integration/jetjob_webhook_test.go
  test/integration/managementcenter_controller_test.go
  test/matcher.go
  test/spec.go
Labels: enhancement

#740 [CN-812] Rename secret to secretName for ManagementCenter and HotBackup
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/hotbackup_types.go
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_cronhotbackups.yaml
  config/crd/bases/hazelcast.com_hotbackups.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/samples/_v1alpha1_hazelcast.yaml
  config/samples/_v1alpha1_hazelcast_executor_service.yaml
  config/samples/_v1alpha1_hazelcast_expose_externally.yaml
  config/samples/_v1alpha1_hazelcast_high_availability.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  config/samples/_v1alpha1_hazelcast_jet_job_upload.yaml
  config/samples/_v1alpha1_hazelcast_jvm_gc.yaml
  config/samples/_v1alpha1_hazelcast_mc_monitoring_config.yaml
  config/samples/_v1alpha1_hazelcast_persistence.yaml
  config/samples/_v1alpha1_hazelcast_persistence_agent.yaml
  config/samples/_v1alpha1_hazelcast_persistence_force_start.yaml
  config/samples/_v1alpha1_hazelcast_persistence_restore.yaml
  config/samples/_v1alpha1_hazelcast_tls.yaml
  config/samples/_v1alpha1_hazelcast_user_code_bucket.yaml
  config/samples/_v1alpha1_hotbackup_agent.yaml
  config/samples/_v1alpha1_jetjob.yaml
  config/samples/_v1alpha1_jetjob_dynamic.yaml
  config/samples/_v1alpha1_managementcenter.yaml
  config/samples/_v1alpha1_managementcenter_ingress.yaml
  config/samples/_v1alpha1_managementcenter_no_pvc.yaml
  config/samples/_v1alpha1_managementcenter_route.yaml
  config/samples/_v1alpha1_managementcenter_tls.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/e2e/config/hazelcast/config.go
  test/e2e/config/managementcenter/config.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_webhook_test.go
  test/integration/managementcenter_controller_test.go
  test/spec.go
Labels: enhancement

#741 Hotfix - update old struct field name to new one
  api/v1alpha1/hazelcast_types.go
  test/e2e/config/hazelcast/config.go
Labels: non-release

#730 [CN-800] Enable persistence for Jobs a.k.a Lossless Restart
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/jetjob_validation.go
  internal/phonehome/phonehome.go
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_jetjob_test.go
  test/integration/hazelcast_controller_test.go
Labels: enhancement

#734 [CN-834] Hazelcast CR name validation
  api/v1alpha1/hazelcast_validation.go
  test/integration/hazelcast_controller_test.go
Labels: enhancement

#745 Phonehome TLS metrics
  internal/phonehome/phonehome.go
Labels: non-release
