Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-03, with the labels that each got.

#643 Add external adress for ingress and route
  config/samples/_v1alpha1_managementcenter_ingress.yaml
  controllers/hazelcast/hazelcast_status.go
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_status.go
  internal/util/util.go
Labels: enhancement

#639 Fixing the stuck e2e tests
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_persistence_test.go
  test/e2e/hazelcast_user_code_test.go
  test/e2e/helpers_test.go
  test/matcher.go
Labels: test, non-release

#644 [CN-746]: Version Diff Tool
  go.mod
  go.sum
  tools/version-diff-tool/main.go
Labels: enhancement, non-release

#640 [CN-706] Improve comments in the API folder
  api/v1alpha1/data_structure.go
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/map_types.go
  api/v1alpha1/multimap_types.go
  api/v1alpha1/topic_types.go
  api/v1alpha1/wanreplication_types.go
  config/crd/bases/hazelcast.com_caches.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_multimaps.yaml
  config/crd/bases/hazelcast.com_queues.yaml
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  config/crd/bases/hazelcast.com_topics.yaml
  config/crd/bases/hazelcast.com_wanreplications.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: non-release

#642 Call validation function in MC webhook
  api/v1alpha1/managementcenter_webhook.go
  config/samples/_v1alpha1_managementcenter_route.yaml
Labels: non-release

#648 Fix high-availability test flakiness
  test/e2e/hazelcast_high_availability_test.go
Labels: test, non-release

#645 [CN-674]: Native Memory Support for Cache
  api/v1alpha1/cache_types.go
  api/v1alpha1/cache_validation.go
  api/v1alpha1/cache_webhook.go
  api/v1alpha1/common.go
  api/v1alpha1/map_types.go
  config/crd/bases/hazelcast.com_caches.yaml
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/common.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/map_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/phonehome/phonehome.go
  internal/protocol/types/cache_config.go
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_cache_test.go
  test/integration/hazelcast_controller_test.go
Labels: feature

#647 [CN-675]: JVM GC Configuration
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_jvm_gc.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/integration/hazelcast_controller_test.go
Labels: feature

#646 [CN-492]-Add test report summary to PR as a comment
  .github/scripts/utils.sh
  .github/workflows/generate-test-report.yaml
Labels: non-release

#655 Fix condition for adding report in PR
  .github/workflows/generate-test-report.yaml
Labels: non-release

#660 Limit MC resources
  test/e2e/management_center_test.go
Labels: non-release

#666 Update status badge for KinD tests
  README.md
Labels: non-release

#662 [CN-773] joining default port to endpoints
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/wanreplication_controller.go
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/dialer/dialer.go
  test/integration/hazelcast_controller_test.go
  test/integration/suite_test.go
Labels: enhancement

#668 refactoring integration tests
  api/v1alpha1/hazelcast_validation.go
  config/samples/_v1alpha1_hotbackup_scheduled.yaml
  test/integration/hazelcast_controller_test.go
Labels: non-release

#672 Use Hz version 5.2.3-SNAPSHOT
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: non-release

#621 [CN-704] Remove side effects from status update functions
  api/v1alpha1/cache_types.go
  api/v1alpha1/multimap_types.go
  api/v1alpha1/queue_types.go
  api/v1alpha1/replicatedmap_types.go
  api/v1alpha1/topic_types.go
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/data_structure_controller.go
  controllers/hazelcast/data_structure_status.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_status.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/hot_backup_status.go
  controllers/hazelcast/map_controller.go
  controllers/hazelcast/map_status.go
  controllers/hazelcast/multimap_controller.go
  controllers/hazelcast/queue_controller.go
  controllers/hazelcast/replicatedmap_controller.go
  controllers/hazelcast/topic_controller.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/hazelcast/wanreplication_status.go
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_status.go
  controllers/reconcile_options.go
  internal/util/util.go
  test/e2e/helpers_test.go
Labels: non-release

#674 Update Hazelcast version to 5.2.3
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: fix

#673 [CN-789]- Improve OCP cleanup process and revise the "Add Test Report Summary To PR" step condition
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/istio-e2e-gke.yaml
  Makefile
Labels: non-release

#679 [CN-770] Fixing the input configuration in cleanup workflows
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/cleanup-namespace.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/high-availability-e2e-gke.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/nightly-ph-gke.yaml
Labels: ci, test, non-release

#663 [CN-779] Update Hazelcast Go client to 1.4.0
  go.mod
  go.sum
Labels: enhancement

#680 [CN-770] Waits for cleanup NS job before deleting the cluster
  .github/scripts/utils.sh
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/high-availability-e2e-gke.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
Labels: ci, test, non-release

#654 [CN-756] Refactor map and cache validation
  api/v1alpha1/cache_validation.go
  api/v1alpha1/cache_webhook.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/replicatedmap_types.go
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/common.go
  controllers/hazelcast/map_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/e2e/hazelcast_cache_persistence_test.go
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_map_test.go
  test/e2e/hazelcast_replicatedmap_test.go
  test/integration/webhook_test.go
Labels: non-release

#675 [CN-802]: Add MC Config
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_mc_monitoring_config.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/config/hazelcast.go
  test/integration/hazelcast_controller_test.go
Labels: feature

#676 [CN-791] Make service ports and rbac permissions updatable
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/managementcenter/managementcenter_resources.go
  go.mod
  test/integration/hazelcast_controller_test.go
Labels: fix

#653 [CN-755] [CN-676]: JVM Args Changes
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_jvm_gc.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/phonehome/phonehome.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
Labels: feature

#661 [CN-638]: Add near cache support for Map CR
  api/v1alpha1/map_types.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_maps.yaml
  config/samples/_v1alpha1_near_cache.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/map_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/config/hazelcast.go
  internal/phonehome/phonehome.go
  internal/protocol/types/request_add_map_config.go
  test/integration/hazelcast_controller_test.go
Labels: feature

#681 [CN-767]Added VALID_LABELS file and remove pr-label-checker.yml
  .github/VALID_LABELS
  .github/workflows/pr-label-checker.yml
Labels: non-release
