Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-09, with the labels that each got.

#866 Add missing test suite labels
  Makefile
  test/e2e/hazelcast_jetjob_test.go
  test/e2e/hazelcast_jetjobsnapshot_test.go
Labels: non-release

#865 Fix compact serialization config generation
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_resources_test.go
Labels: bug, fix

#870 Fix JetJobSnapshot name reference
  controllers/hazelcast/jetjob_controller.go
Labels: fix

#882 [CN-967]Increased number of parallel jobs
  .github/workflows/pull-request.yml
  Makefile
Labels: non-release

#884 Use new logo 🎉
  README.md
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: documentation, non-release
