Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-07, with the labels that each got.

#776 [CN-900] Fixing Map config persistence bug caused by MapStore
  internal/config/hazelcast.go
Labels: fix

#746 [CN-790] Cleanup resources in integration tests
  test/e2e/util_test.go
  test/integration/cache_test.go
  test/integration/cronhotbackup_test.go
  test/integration/hazelcast_config_test.go
  test/integration/hazelcast_test.go
  test/integration/hotbackup_test.go
  test/integration/jetjob_test.go
  test/integration/managementcenter_test.go
  test/integration/map_test.go
  test/integration/multimap_test.go
  test/integration/queue_test.go
  test/integration/replicatedmap_test.go
  test/integration/topic_test.go
  test/integration/util_test.go
  test/integration/wanreplication_test.go
Labels: test, non-release

#770 [CN-891] Fix update procedure
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/jetjob_validation.go
  api/v1alpha1/management_center_validation.go
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_webhook.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/samples/_v1alpha1_hazelcast.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/mutate/mutate.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/managementcenter/managementcenter_resources.go
  internal/phonehome/phonehome.go
  test/e2e/config/hazelcast/config.go
  test/e2e/config/managementcenter/config.go
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_wan_slow_test.go
  test/e2e/management_center_test.go
  test/integration/hazelcast_config_test.go
  test/integration/hazelcast_test.go
  test/integration/managementcenter_test.go
Labels: non-release

#782 Fixing the flakiness in CronHotBackup integration tests
  test/integration/cronhotbackup_test.go
Labels: test, non-release

#767 [CN-859] Add validation for NativeMemory.AllocatorType when persistence is enabled
  api/v1alpha1/hazelcast_validation.go
  test/integration/hazelcast_test.go
Labels: fix

#771 [CN-882] Delete JetJob CR when its Hazelcast CR is deleted
  api/v1alpha1/jetjob_types.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_resources_test.go
  controllers/hazelcast/jetjob_controller.go
  test/e2e/hazelcast_jetjob_test.go
Labels: fix

#783 [CN-891] fix mutation detection for CR update
  config/samples/_v1alpha1_hazelcast.yaml
  controllers/hazelcast/mutate/mutate.go
Labels: non-release

#784 [CN-871] Added integration tests for hz clusters' tls configuration on mc
  test/integration/managementcenter_test.go
Labels: test, non-release

#788 [CN-903] update sidecar VolumeMount when STS gets updated
  controllers/hazelcast/hazelcast_resources.go
Labels: non-release

#789 [CN-860] Added e2e tests for map and cache
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_map_test.go
Labels: test, non-release

#787 [CN-904] Secret validation of bucket config in JetJob CR
  api/v1alpha1/jetjob_validation.go
  test/integration/hazelcast_test.go
  test/integration/jetjob_test.go
  test/integration/util_test.go
Labels: bug, fix

#786 [CN-901] Fixing error in Map reconciler when nearCache is configured
  api/v1alpha1/map_types.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_maps.yaml
  controllers/hazelcast/map_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/integration/map_test.go
Labels: fix

#792 Fixed Phone Home tests
  test/ph/phone_home_test.go
  test/ph/util_test.go
Labels: non-release

#793 Fixes JetJob CR state validation
  api/v1alpha1/jetjob_validation.go
Labels: fix

#794 [CN-912] Volume mount for tmp dir
  controllers/hazelcast/hazelcast_resources.go
Labels: fix

#798 Update Helm Chart Version to 5.9.0-snapshot
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
Labels: non-release

#795 Update HZ and MC version to 5.3.1
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  config/samples/_v1alpha1_jetjob.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: non-release

#801 [CN-897] Add JVM options to Management Center CR
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/integration/managementcenter_test.go
Labels: enhancement

#802 [CN-917] Update HZ and MC versions in the main branch with every release
  .github/workflows/docs-release.yaml
Labels: non-release

#797 Fix publish-release, test-and-release workflows
  .github/workflows/publish-release.yaml
  .github/workflows/test-and-release.yaml
  Makefile
Labels: non-release

#799 [CN-879] fail JetJob if Hazelcast cluster is not running
  controllers/hazelcast/jetjob_controller.go
  test/e2e/hazelcast_jetjob_test.go
  test/e2e/helpers_test.go
Labels: enhancement

#804 [CN-898] Add new features to README.md and CSV file
  README.md
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: non-release

#803 [CN-902] change WanReplication validation
  api/v1alpha1/wanreplication_validation.go
  api/v1alpha1/wanreplication_webhook.go
  controllers/hazelcast/wanreplication_controller.go
  test/integration/util_test.go
  test/integration/wanreplication_test.go
Labels: enhancement

#805 Better naming on the JetJob state validation
  api/v1alpha1/jetjob_validation.go
Labels: non-release

#808 Fix missing API ref docs
  apidocgen/main.go
Labels: non-release

#817 [CN-927] Fix flaky Hazelcast CR TLS configuration when TLS with Mutual Authentication property is configured should form a cluster and be able to connect
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_test.go
Labels: test, non-release

#811 [CN-934] Remove replicaCount from chart values.yaml
  helm-charts/hazelcast-platform-operator/templates/deployment.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
Labels: non-release

#813 [CN-924] Fix flaky External API errors should be reflected to Hazelcast CR status test
  test/e2e/hazelcast_test.go
Labels: test, non-release

#812 [CN-935] Depreciate `imagePullSecrets` and add `image.pullSecrets` in values.yaml
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/templates/deployment.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
Labels: non-release

#823 [CN-840] Management Center config change xml to yaml
  controllers/managementcenter/managementcenter_resource_test.go
  controllers/managementcenter/managementcenter_resources.go
  test/integration/managementcenter_test.go
Labels: enhancement
