Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-04, with the labels that each got.

#684 Fix JVM Config Phone Home
  internal/phonehome/phonehome.go
Labels: bug

#656 [CN-551] Trigger WanReplication with Hazelcast resource when new map is created
  api/v1alpha1/map_types.go
  controllers/hazelcast/wanreplication_controller.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/helpers_test.go
Labels: enhancement

#688 Increased timeout for multiple BackupTests
  Makefile
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/helpers_test.go
Labels: non-release

#693 [CN-781]- Fix issue with parsing JSON report files
  .github/scripts/utils.sh
Labels: non-release

#700 random seed from current time in Maploader
  test/maploader/go.mod
  test/maploader/go.sum
  test/maploader/maploader.go
Labels: test, non-release

#695 [CN-375]-Fix Flaky Phone Home Tests
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/cleanup-namespace.yaml
  .github/workflows/delete-clusters.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/grafana-agent.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  test/ph/phone_home_test.go
Labels: non-release

#691 [CN-813]: Fix Advanced Network Default WAN Configuration
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_status.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
  internal/util/util.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
Labels: bug, fix

#706 [CN-813]: Fix Advanced Network Default WAN Configuration (5.7)
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hazelcast_status.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
  internal/util/util.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
Labels: bug, fix

#704 Update kube-state-metrics version
  .github/workflows/e2e-ocp.yaml
  .github/workflows/grafana-agent.yaml
  .github/workflows/k8s-cluster-scope-tests.yml
  .github/workflows/multi-version-tests.yaml
  .github/workflows/pull-request.yml
Labels: non-release

#683 [CN-795] Improve validation logic for multiple errors
  api/v1alpha1/cache_types.go
  api/v1alpha1/cache_validation.go
  api/v1alpha1/cache_webhook.go
  api/v1alpha1/common_validation.go
  api/v1alpha1/data_structure.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/map_validation.go
  api/v1alpha1/map_webhook.go
  api/v1alpha1/multimap_types.go
  api/v1alpha1/multimap_webhook.go
  api/v1alpha1/queue_types.go
  api/v1alpha1/queue_webhook.go
  api/v1alpha1/replicatedmap_types.go
  api/v1alpha1/replicatedmap_webhook.go
  api/v1alpha1/topic_types.go
  api/v1alpha1/topic_validation.go
  api/v1alpha1/topic_webhook.go
  config/samples/_v1alpha1_hazelcast_invalid.yaml
  controllers/hazelcast/cache_controller.go
  controllers/hazelcast/data_structure_controller.go
  controllers/hazelcast/data_structure_status.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/map_controller.go
  test/e2e/hazelcast_cache_persistence_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_multimap_test.go
  test/e2e/hazelcast_queue_test.go
  test/e2e/hazelcast_replicatedmap_test.go
  test/e2e/hazelcast_topic_test.go
  test/e2e/helpers_test.go
  test/integration/hazelcast_webhook_test.go
  test/integration/webhook_test.go
Labels: enhancement

#712 Update waitForLBAddress function in WAN tests
  .github/workflows/nightly-wan-e2e-gke.yaml
  test/e2e/hazelcast_wan_slow_test.go
Labels: non-release

#709 [CN-792] Add missing validations for MC and HZ CRs
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/management_center_validation.go
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_types_test.go
  api/v1alpha1/managementcenter_webhook.go
  api/v1alpha1/queue_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_queues.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/e2e/config/managementcenter/config.go
  test/integration/managementcenter_controller_test.go
Labels: enhancement

#710 remove TLS enterprise validation in webhook
  api/v1alpha1/hazelcast_validation.go
Labels: fix

#687 [CN-470] [CN-809] Add possibility to submit the Jet job using JetJob CR
  PROJECT
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/jetjob_types.go
  api/v1alpha1/jetjob_validation.go
  api/v1alpha1/jetjob_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_jetjobs.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  config/samples/_v1alpha1_hazelcast_jet_job_upload.yaml
  config/samples/_v1alpha1_jetjob.yaml
  config/samples/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/jetjob_controller.go
  controllers/hazelcast/jetjob_status.go
  controllers/hazelcast/jetjob_status_test.go
  go.mod
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
  internal/config/hazelcast.go
  internal/hazelcast-client/jet_service.go
  internal/naming/constants.go
  internal/phonehome/phonehome.go
  internal/protocol/codec/builtin.go
  internal/protocol/codec/jet_get_job_and_sql_summary_list_codec.go
  internal/protocol/codec/jet_resume_job_codec.go
  internal/protocol/codec/jet_terminate_job_codec.go
  internal/protocol/codec/jet_upload_job_meta_data_codec.go
  internal/protocol/codec/jet_upload_job_multipart_codec.go
  internal/protocol/codec/job_and_sql_summary_codec.go
  internal/protocol/codec/sql_summary_codec.go
  internal/protocol/types/job_and_sql_config.go
  main.go
  test/e2e/config/hazelcast/config.go
  test/e2e/custom_resource_test.go
  test/e2e/hazelcast_jetjob_test.go
  test/e2e/helpers_test.go
  test/integration/jetjob_webhook_test.go
  test/integration/suite_test.go
Labels: feature

#694 Fix decision step commit message error
  .github/workflows/k8s-dist-tests.yaml
Labels: non-release

#702 Add link to the slack job message
  .github/workflows/k8s-dist-tests.yaml
Labels: non-release

#717 Fix chart version
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
Labels: non-release

#708 Update Ginkgo version and fix WAN Replication workflow
  .github/scripts/utils.sh
  .github/workflows/k8s-cluster-scope-tests.yml
  .github/workflows/pull-request.yml
  Makefile
  go.mod
  go.sum
  test/util.go
Labels: non-release

#720 [CN-830] Migrate test report from GithubPages to S3, downgrade Ginkgo version
  .github/scripts/utils.sh
  .github/workflows/generate-test-report.yaml
  Makefile
  config/samples/_v1alpha1_jetjob.yaml
  go.mod
  go.sum
Labels: non-release

#719 Update description in REAMDE.md and CSV files
  README.md
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: non-release

#718 Update sample files
  .github/workflows/publish-release.yaml
  config/samples/_v1alpha1_hazelcast.yaml
  config/samples/_v1alpha1_hazelcast_expose_externally.yaml
  config/samples/_v1alpha1_hazelcast_high_availability.yaml
  config/samples/_v1alpha1_hazelcast_jvm_gc.yaml
  config/samples/_v1alpha1_hazelcast_mc_monitoring_config.yaml
  config/samples/_v1alpha1_hazelcast_persistence.yaml
  config/samples/_v1alpha1_hazelcast_persistence_agent.yaml
  config/samples/_v1alpha1_hazelcast_persistence_force_start.yaml
  config/samples/_v1alpha1_hazelcast_persistence_restore.yaml
  config/samples/_v1alpha1_managementcenter.yaml
  config/samples/_v1alpha1_managementcenter_ingress.yaml
  config/samples/_v1alpha1_managementcenter_no_pvc.yaml
  config/samples/_v1alpha1_managementcenter_route.yaml
  config/samples/_v1alpha1_managementcenter_tls.yaml
Labels: non-release

#724 Update README, move post report script to utils, fix history in reports
  .github/scripts/utils.sh
  .github/workflows/generate-test-report.yaml
  README.md
Labels: non-release

#678 [CN-799]: Enhanced Jet Engine configuration
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
  test/integration/hazelcast_controller_test.go
  test/integration/hazelcast_webhook_test.go
Labels: feature
