Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-02, with the labels that each got.

#606 Fix watchedNamespaces variable and manager options
  Makefile
  api/v1alpha1/hazelcast_validation.go
  main.go
Labels: non-release

#601 Add functions to deploy/cleanup operator using OLM
  Makefile
Labels: non-release

#603 Remove ocp tests from distribution tests
  .github/workflows/e2e-ocp.yaml
  .github/workflows/k8s-dist-tests.yaml
Labels: non-release

#590 Decrease the image build time and add option to re-run tests with rep…
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/certification-tests-and-release.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/publish-snapshot.yaml
  .github/workflows/pull-request.yml
Labels: non-release

#599 [CN-700] Update CSV file for multinamespace and cluster wide operator support
  config/manager/manager.yaml
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: enhancement

#478 [CN-621] E2E slow tests on GKE with Istio
  .github/workflows/istio-e2e-gke.yaml
Labels: ci

#613 Add WATCHED_NAMESPACES variable to Makefile
  Makefile
Labels: non-release

#612 Improve debug logging for e2e tests
  test/e2e/helpers_test.go
Labels: non-release

#608 [CN-717] Ingress support for Management Center
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/rbac/role.yaml
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  internal/phonehome/phonehome.go
  main.go
  test/integration/managementcenter_controller_test.go
Labels: feature

#602 Add pr label checker
  .github/workflows/pr-label-checker.yml
Labels: non-release

#619 Make the badges the same for all env's
  .github/scripts/utils.sh
  README.md
Labels: non-release

#617 Fix phone home, eks and backup tests
  .github/scripts/utils.sh
  .github/workflows/e2e-eks.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/nightly-ph-gke.yaml
Labels: non-release

#607 [CN-719] Remove hostPath support for persistence
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/phonehome/phonehome.go
  test/e2e/config/hazelcast/config.go
  test/e2e/e2e_suite_test.go
  test/e2e/hazelcast_persistence_test.go
  test/e2e/helpers_test.go
  test/e2e/util_test.go
  test/integration/hazelcast_webhook_test.go
Labels: enhancement

#609 Fix crds-reinstallation failure
  Makefile
Labels: run-all-test, non-release

#620 [CN-735] Change wan replication tests to accept Mb
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_wan_slow_test.go
  test/e2e/helpers_test.go
  test/maploader/maploader.go
Labels: non-release

#618 [CN-705] API comment about supported buckets and URI formats
  api/v1alpha1/hotbackup_types.go
  config/crd/bases/hazelcast.com_cronhotbackups.yaml
  config/crd/bases/hazelcast.com_hotbackups.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: documentation

#622 Fixing flaky integration test
  test/integration/managementcenter_controller_test.go
  test/integration/util_test.go
Labels: test, non-release

#623 Fix wan slow test and add failing case to normal tests
  controllers/hazelcast/wanreplication_controller.go
  test/e2e/config/managementcenter/config.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/helpers_test.go
Labels: non-release

#616 [CN-713] Add phonehome for watched namespace type
  internal/phonehome/phonehome.go
  internal/util/operator_info.go
  internal/util/util.go
  main.go
Labels: enhancement

#610 [CN-731] Change chart, app and image version to latest-snapshot
  .github/workflows/docs-release.yaml
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
  helm-charts/hazelcast-platform-operator/values.yaml
Labels: non-release

#632 Update helm-chart-sync.yaml workflow
  .github/workflows/helm-chart-sync.yaml
Labels: non-release

#634 Update helm-chart-sync.yaml
  .github/workflows/helm-chart-sync.yaml
Labels: non-release

#636 Update maploader function
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_wan_slow_test.go
  test/e2e/helpers_test.go
  test/maploader/maploader.go
Labels: test, non-release

#628 Fixing flaky expose externally e2e test
  test/e2e/hazelcast_expose_externally_test.go
Labels: test, non-release

#635 Fix backup interruption slow test
  .github/workflows/helm-chart-sync.yaml
  test/e2e/hazelcast_backup_slow_test.go
Labels: test, non-release

#615 Improve map deletion from Wan status
  controllers/hazelcast/wanreplication_controller.go
  internal/util/random.go
Labels: enhancement

#631 [CN-718] Add route support for MC
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/rbac/role.yaml
  config/samples/_v1alpha1_managementcenter_route.yaml
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_resources.go
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  internal/naming/constants.go
  internal/phonehome/phonehome.go
  main.go
  test/e2e/config/managementcenter/config.go
  test/e2e/e2e_suite_test.go
  test/e2e/management_center_test.go
  test/integration/suite_test.go
Labels: feature

#638 Added SwitchContext to WAN replication tests
  test/e2e/hazelcast_wan_slow_test.go
Labels: test, non-release

#627 Added workflow for cluster scope testing
  .github/workflows/backup-e2e-gke.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/high-availability-e2e-gke.yaml
  .github/workflows/istio-e2e-gke.yaml
  .github/workflows/k8s-cluster-scope-tests.yml
  .github/workflows/k8s-dist-tests.yaml
  .github/workflows/nightly-ph-gke.yaml
  .github/workflows/nightly-wan-e2e-gke.yaml
  Makefile
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_cache_persistence_test.go
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_expose_externally_test.go
  test/e2e/hazelcast_high_availability_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_map_test.go
  test/e2e/hazelcast_multimap_test.go
  test/e2e/hazelcast_persistence_test.go
  test/e2e/hazelcast_queue_test.go
  test/e2e/hazelcast_replicatedmap_test.go
  test/e2e/hazelcast_resilience_test.go
  test/e2e/hazelcast_test.go
  test/e2e/hazelcast_topic_test.go
  test/e2e/hazelcast_user_code_test.go
  test/e2e/hazelcast_wan_test.go
  test/e2e/management_center_test.go
  test/ph/phone_home_test.go
  test/ph/util_test.go
Labels: non-release
