Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-10, with the labels that each got.

#895 Fix discovery type HazelcastEndpoint
  controllers/hazelcast/hazelcast_resources.go
  test/integration/hazelcastendpoint_test.go
Labels: fix

#897 Remove incorrect logs in external address function
  internal/util/util.go
Labels: fix

#854 Update docs-release.yaml workflow
  .github/workflows/docs-release.yaml
Labels: non-release

#892 [CN-995] Add LDAP Security Provider for Management Center CR
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/samples/_v1alpha1_managementcenter_ldap.yaml
  controllers/managementcenter/managementcenter_controller.go
  controllers/managementcenter/managementcenter_resource_test.go
  controllers/managementcenter/managementcenter_resources.go
  controllers/managementcenter/managementcenter_status.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/phonehome/phonehome.go
  test/e2e/helpers_test.go
  test/e2e/management_center_test.go
  test/integration/managementcenter_test.go
  test/integration/util_test.go
  test/ph/util_test.go
Labels: feature

#901 [CN-1032] Updated workflow to release Operator with patch version
  .github/workflows/docs-release.yaml
  .github/workflows/pre-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/test-and-release.yaml
Labels: non-release

#900 Added Slack notification for WAN replication tests
  .github/workflows/nightly-wan-e2e-gke.yaml
Labels: non-release

#898 [CN-1008]Added persistence tests with a big data loading
  .github/workflows/e2e-high-load.yaml
  Makefile
  test/e2e/config/hazelcast/config.go
  test/e2e/config/managementcenter/config.go
  test/e2e/hazelcast_backup_slow_test.go
  test/e2e/hazelcast_backup_test.go
  test/e2e/hazelcast_cache_persistence_test.go
  test/e2e/hazelcast_high_availability_test.go
  test/e2e/hazelcast_high_load_test.go
  test/e2e/hazelcast_jetjob_test.go
  test/e2e/hazelcast_jetjobsnapshot_test.go
  test/e2e/hazelcast_map_persistence_test.go
  test/e2e/hazelcast_persistence_test.go
  test/e2e/helpers_test.go
  test/e2e/util_test.go
Labels: non-release

#899 [CN-1004] Print HazelcastReference column in the wide output of CRDs referencing to Hazelcast CR
  api/v1alpha1/cache_types.go
  api/v1alpha1/cronhotbackup_types.go
  api/v1alpha1/hazelcastendpoint_types.go
  api/v1alpha1/hotbackup_types.go
  api/v1alpha1/jetjob_types.go
  api/v1alpha1/map_types.go
  api/v1alpha1/multimap_types.go
  api/v1alpha1/queue_types.go
  api/v1alpha1/replicatedmap_types.go
  api/v1alpha1/topic_types.go
  config/crd/bases/hazelcast.com_caches.yaml
  config/crd/bases/hazelcast.com_cronhotbackups.yaml
  config/crd/bases/hazelcast.com_hazelcastendpoints.yaml
  config/crd/bases/hazelcast.com_hotbackups.yaml
  config/crd/bases/hazelcast.com_jetjobs.yaml
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_multimaps.yaml
  config/crd/bases/hazelcast.com_queues.yaml
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  config/crd/bases/hazelcast.com_topics.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: enhancement

#908 Delete .github/CODEOWNERS
  .github/CODEOWNERS
Labels: non-release

#906 Fix High-Load Tests
  .github/scripts/utils.sh
  .github/workflows/e2e-high-load.yaml
  Makefile
  test/e2e/hazelcast_high_load_test.go
  test/e2e/helpers_test.go
Labels: non-release

#902 [CN-1034]Replace GKE to KinD for migration tests and preflight command
  .github/workflows/test-and-release.yaml
Labels: non-release

#891 Removed duplicated tests
  test/e2e/hazelcast_cache_test.go
  test/e2e/hazelcast_map_test.go
  test/e2e/hazelcast_multimap_test.go
  test/e2e/hazelcast_queue_test.go
  test/e2e/hazelcast_replicatedmap_test.go
  test/e2e/hazelcast_test.go
  test/e2e/hazelcast_topic_test.go
Labels: non-release

#917 add quatation for ldap parameter in mcInitCmd [CN-995]
  controllers/managementcenter/managementcenter_resource_test.go
  controllers/managementcenter/managementcenter_resources.go
Labels: non-release

#914 [CN-1039] Create Hazelcast Endpoint CR for the default WAN port
  controllers/hazelcast/hazelcast_resources.go
  test/integration/hazelcastendpoint_test.go
Labels: non-release

#921 [CN-1048] Remove `ldaps` from the URL field description
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: non-release
