Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2023-11, with the labels that each got.

#923 [CN-1049] Skip validations on MC and HZ deletion
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/jetjob_validation.go
  api/v1alpha1/jetjobsnapshot_validation.go
  api/v1alpha1/managementcenter_webhook.go
Labels: fix

#920 [CN-1025] Add Interfaces configuration for ClientServer
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/config/hazelcast.go
  test/integration/hazelcast_test.go
Labels: enhancement, feature

#931 Update README.md
  README.md
Labels: non-release

#936 [CN-1071] Set a max length limit to the WanConfig name field
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: enhancement

#934 [CN-1069] Fix WatchedNamespaces passed as environment variable
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
Labels: fix

#935 [CN-1070] Remove watching of resources in operator's own namespace when watchedNamespaces is specified
  main.go
Labels: fix

#938 Create CODEOWNERS
  .github/CODEOWNERS
Labels: non-release
