Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-05, with the labels that each got.

#1127 Update YAML package version in hazelcast-validation
  api/v1alpha1/hazelcast_validation.go
Labels: non-release

#1128 Fix webhook setup error in restricted-mode
  cmd/main.go
Labels: fix

#1137 Update Helm Chart Version to 5.13.0-snapshot
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
Labels: non-release

#1130 Update readme and CSV file for 5.12.0
  README.md
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
Labels: non-release

#1129 Update Hazelcast and MC version
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: non-release

#1135 [CN-1275] Increase DataRecoveryTimeout(ValidationTimeout) in the PartialStart test
  test/e2e/backup_restore_test.go
Labels: non-release

#1125 Delete EKS test clusters using 'eksctl'
  .github/scripts/utils.sh
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-platfrom-soak.yaml
Labels: test, non-release

#1139 [CN-1291] Update publish-release workflow
  .github/workflows/publish-release.yaml
Labels: non-release

#1132 [CN-1274] Fix expose externally load balancer flaky e2e test
  test/e2e/expose_externally_test.go
  test/e2e/helpers_test.go
Labels: test, non-release

#1140 [CN-1285] Move helm chart to operator repo
  .github/workflows/helm-chart-sync.yaml
  .github/workflows/publish-helm-chart.yaml
  .github/workflows/publish-release.yaml
Labels: non-release

#1144 [CN-1299] Update getting Kind image version
  .github/workflows/e2e-kind.yaml
  .github/workflows/publish-helm-chart.yaml
Labels: non-release

#1126 [CN-1252] Added restricted setup workflow
  .github/workflows/e2e-restricted-installation.yml
  Makefile
  test/e2e/map_test.go
  test/e2e/multimap_test.go
  test/e2e/queue_test.go
  test/e2e/replicatedmap_test.go
  test/e2e/topic_test.go
Labels: non-release

#1143 [CN-1291] Improve publish release process
  .github/workflows/publish-release.yaml
Labels: non-release

#1147 Fix publish release workflow
  .github/workflows/publish-release.yaml
  .github/workflows/test-and-release.yaml
Labels: non-release

#1146 Use port-forward instead of ExposeExternally for CP tests [CN-1272]
  test/e2e/platform_cpsubsystem_test.go
Labels: non-release

#1148 Fix map status when MapConfig creation failed [CN-1226]
  internal/controller/hazelcast/fakes_test.go
  internal/controller/hazelcast/hazelcast_resources_test.go
  internal/controller/hazelcast/map_controller.go
  internal/controller/hazelcast/map_resources_test.go
Labels: fix

#1155 [CN-1289] Set different cluster names for each platform in distribution tests
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-istio.yaml
  .github/workflows/e2e-platfrom-soak.yaml
Labels: test, non-release

#1159 Additional tests [CN-1286]
  internal/controller/hazelcast/hazelcast_resources_test.go
  internal/controller/hazelcast/mutate/mutate_test.go
  internal/protocol/codec/mc_change_cluster_state_codec.go
  internal/protocol/codec/mc_get_cluster_metadata_codec.go
Labels: non-release

#1156 [CN-1194] Skip ExposeExternally test suite in Istio setup
  .github/workflows/e2e-istio.yaml
  Makefile
  test/e2e/expose_externally_test.go
Labels: test, non-release

#1154 Fix publish release workflow
  .github/workflows/publish-release.yaml
Labels: non-release

#1158 [CN-1196] Added tool to check breaking changes between two versions
  .github/workflows/pull-request.yml
  .github/workflows/test-and-release.yaml
  tools/version-diff-tool/go.mod
  tools/version-diff-tool/go.sum
  tools/version-diff-tool/main.go
Labels: non-release

#1164 Remove Expose externally from Tierd Storage tests [CN-1250]
  test/e2e/helpers_test.go
  test/e2e/platform_cpsubsystem_test.go
  test/e2e/platform_tiered_storage_test.go
Labels: non-release

#1166 Bump 'platform-operator-agent' image version to 0.1.28
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
Labels: non-release

#1124 [CN-1273] Support IAM roles for service accounts in AWS
  .github/workflows/e2e-eks.yaml
  test/e2e/backup_restore_test.go
Labels: feature
