Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-01, with the labels that each got.

#958 [CN-1106] Fix AKS workflow creating NSG rule to allow external connections
  .github/workflows/e2e-aks.yaml
Labels: test, non-release

#957 [CN-1113]: Add property to enable auto upgrade by default
  controllers/hazelcast/hazelcast_resources.go
  test/integration/hazelcast_properties_test.go
  test/integration/hazelcast_test.go
Labels: enhancement

#972 Add deploy-tilt target to Makefile
  Makefile
Labels: non-release

#965 Fixed waitForMap function and dependabot configuration
  .github/dependabot.yaml
  .github/workflows/test-and-release.yaml
  test/e2e/hazelcast_soak_test.go
  test/e2e/helpers_test.go
Labels: non-release

#976 Check Hazelcast members' container restart count
  test/e2e/hazelcast_test.go
  test/e2e/helpers_test.go
Labels: test, non-release

#979 [CN-1106] Skip NodePort test case in OCP workflow
  .github/workflows/e2e-ocp.yaml
Labels: test, non-release

#968 [CN-1106] Create firewall rule to allow external connections in Istio test workflow
  .github/workflows/istio-e2e-gke.yaml
Labels: test, non-release

#978 [CN-1110]: Enable Attributes Configuration for Map CR
  api/v1alpha1/map_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_maps.yaml
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/map_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/config/hazelcast.go
  test/e2e/hazelcast_map_persistence_test.go
  test/integration/map_test.go
Labels: feature

#980 [CN-1083] Add resources field to agent container
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  controllers/hazelcast/hazelcast_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/integration/hazelcast_test.go
Labels: enhancement
