Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-04, with the labels that each got.

#1085 Added cluster_scope filtering to makefile
  Makefile
Labels: non-release

#1072 Add Delta Wan Sync [CN-476]
  api/v1alpha1/wanreplication_types.go
  config/crd/bases/hazelcast.com_wanreplications.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/config/hazelcast.go
  internal/controller/hazelcast/hazelcast_resources.go
  internal/controller/hazelcast/map_controller.go
  internal/controller/hazelcast/wanreplication_controller.go
  internal/hazelcast-client/wan_service.go
  internal/protocol/codec/mc_add_wan_batch_publisher_config_codec.go
  internal/protocol/types/merkle_tree_config.go
  internal/protocol/types/request_add_map_config.go
  test/e2e/helpers_test.go
  test/e2e/wan_sync_test.go
Labels: feature

#1088 remove unnecessary it test
  test/integration/hazelcast_test.go
Labels: non-release

#1089 Fix OLM bundle
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/managementcenter_webhook.go
  config/webhook/manifests.yaml
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
Labels: non-release

#1090 [CN-1139] Resource limit CPU and Memory ph metrics
  internal/phonehome/phonehome.go
Labels: non-release

#1087 [CN-1118] Add Platform Tiered-Storage tests
  api/v1alpha1/map_validation.go
  internal/controller/hazelcast/map_resources_test.go
  internal/naming/constants.go
  test/e2e/config/hazelcast/config.go
  test/e2e/helpers_test.go
  test/e2e/platform_tiered_storage_test.go
  test/maploader/maploader.go
Labels: non-release

#1096 Allow indexes for the map with TS enabled
  api/v1alpha1/map_validation.go
  internal/controller/hazelcast/map_resources_test.go
Labels: non-release

#1097 [CN-1233] Convert resource metric types from String to Int
  internal/phonehome/phonehome.go
Labels: bug, non-release

#1098 Fix validation of missingCpMemberAutoRemovalSeconds [CN-1216] [CN-1217] [CN-1218]
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_cp_subsystem.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/controller/hazelcast/hazelcast_resources.go
  test/integration/hazelcast_test.go
Labels: non-release

#1100 Update Hazelcast and MC version
  .github/workflows/e2e-platform-wan.yaml
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  config/samples/_v1alpha1_hazelcast_jet_job_upload.yaml
  config/samples/_v1alpha1_jetjob.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
  test/e2e/config/hazelcast/config.go
Labels: non-release

#1102 Update Helm Chart Version to 5.12.0-snapshot
  helm-charts/hazelcast-platform-operator/Chart.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/Chart.yaml
Labels: non-release

#1106 Update make install-crds and uninstall-crds commands
  Makefile
Labels: non-release

#1111 [CN-1249]Fix installation CRD conflict in OCP workflow
  .github/workflows/e2e-ocp.yaml
Labels: non-release

#1110 [CN-1248]Remove reports creation for non-distribution tests
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-kind.yaml
Labels: non-release

#1108 Validate custom config key and yaml in WebHook
  api/v1alpha1/hazelcast_validation.go
  internal/controller/hazelcast/hazelcast_resources.go
  internal/naming/constants.go
  test/integration/hazelcast_config_test.go
Labels: non-release

#1109 [CN-1247]-Fix the WAN replication test
  test/e2e/platform_wan_test.go
Labels: non-release

#1112 [CN-1253] fix restricted installation
  internal/controller/hazelcast/hazelcast_resources.go
Labels: fix

#1117 [CN-1255]: add threadName to logging pattern
  internal/controller/hazelcast/hazelcast_resources.go
Labels: enhancement

#1115 [CN-1259] Fix Failed to watch *v1.Node: unknown (get nodes)
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
Labels: fix

#1116 [CN-1241] Fix the Openshift static test warnings
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
  config/rbac/wansync_editor_role.yaml
  config/rbac/wansync_viewer_role.yaml
  config/samples/_v1alpha1_hazelcastendpoint.yaml
  config/samples/_v1alpha1_jetjob.yaml
  config/samples/_v1alpha1_jetjobsnapshot.yaml
  config/samples/_v1alpha1_multimap.yaml
  config/samples/_v1alpha1_replicatedmap.yaml
  config/samples/kustomization.yaml
Labels: non-release
