Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-07, with the labels that each got.

#1193 Exclude non GCP tests from OLM workflow
  Makefile
Labels: non-release

#1194 Fixed typo in error message for UCN
  internal/controller/hazelcast/usercodenamespace_controller.go
Labels: bug, non-release

#1195 [CN-1329]: Add cannot be empty validation for env var name
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/integration/hazelcast_test.go
Labels: bug

#1198 Remove redundant secret key creation
  .github/workflows/test-and-release.yaml
Labels: non-release

#1192 Add parameters to JetJob CR [CN-1314]
  api/v1alpha1/jetjob_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_jetjobs.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/controller/hazelcast/jetjob_controller.go
  internal/controller/hazelcast/jetjob_controller_test.go
  internal/protocol/codec/jet_upload_job_meta_data_codec.go
Labels: feature

#1197 [CN-1323] Added default StorageClass for CR
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-cluster-scope.yml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-istio.yaml
  .github/workflows/e2e-kind.yaml
  .github/workflows/e2e-nightly-ph.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/e2e-olm.yaml
  .github/workflows/e2e-platform-misc.yaml
  .github/workflows/e2e-platform-resilience.yaml
  .github/workflows/e2e-platform-wan.yaml
  .github/workflows/e2e-restricted-installation.yml
  .github/workflows/pull-request.yml
  Makefile
  test/e2e/config/hazelcast/config.go
Labels: non-release

#1190 [CN-1324]Added granular filter support from the file
  .github/workflows/pull-request.yml
  tools/version-diff-tool/ignore_messages.txt
  tools/version-diff-tool/main.go
Labels: non-release
