Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-06, with the labels that each got.

#1163 [CN-1303] Add custom environment variable support
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/controller/hazelcast/hazelcast_resources.go
  test/integration/hazelcast_test.go
Labels: feature

#1165 [CN-1290] Check for operator pod's status and restart count after test suites
  .github/scripts/utils.sh
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-kind.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/e2e-platform-soak.yaml
  .github/workflows/generate-test-report.yaml
Labels: test, non-release

#1171 [CN-1307]fix wrong check
  api/v1alpha1/map_validation.go
Labels: bug

#1175 Replace versioned Hazelcast docs with `latest`
  internal/controller/hazelcast/hazelcast_resources.go
Labels: non-release

#1181 Fix metallB setup issue
  .github/workflows/e2e-cluster-scope.yml
  .github/workflows/e2e-kind.yaml
  .github/workflows/e2e-platform-soak.yaml
  .github/workflows/e2e-restricted-installation.yml
  .github/workflows/multi-version-tests.yaml
  .github/workflows/pull-request.yml
  .github/workflows/test-and-release.yaml
  Makefile
  test/e2e/backup_restore_test.go
Labels: non-release

#1167 [CN-1271] Fix WAN replication flaky test
  internal/controller/hazelcast/wanreplication_controller.go
Labels: test, non-release

#1184 Removed redundant NS creation command
  .github/workflows/e2e-eks.yaml
Labels: non-release

#1157 [CN-1251]: reduce init containers to one
  api/v1alpha1/hazelcast_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/controller/hazelcast/hazelcast_controller.go
  internal/controller/hazelcast/hazelcast_resources.go
  internal/controller/hazelcast/hazelcast_resources_test.go
  internal/naming/constants.go
  test/e2e/backup_restore_test.go
Labels: enhancement

#1162 Fix error with MTLS client registry after operator restart [CN-1254]
  internal/controller/hazelcast/fakes_test.go
  internal/controller/hazelcast/hot_backup_controller.go
  internal/controller/hazelcast/hot_backup_controller_test.go
  internal/controller/hazelcast/jetjob_controller.go
  internal/controller/hazelcast/usercodenamespace_controller.go
  internal/controller/hazelcast/usercodenamespace_controller_test.go
  internal/controller/hazelcast/usercodenamespace_status.go
  internal/controller/hazelcast/wanreplication_controller.go
  internal/hazelcast-client/config_test_unit.go
  internal/local_backup/local_backup.go
  internal/mtls/client_registry.go
Labels: bug, fix

#1172 [CN-1226] Fix pending state for failing map config
  internal/controller/hazelcast/map_controller.go
Labels: bug, fix

#1182 Fix port-forwarding issues in tests [CN-1308] [CN-1309] [CN-1311] [CN-1312] [CN-1313]
  test/e2e/platform_cpsubsystem_test.go
  test/e2e/platform_tiered_storage_test.go
Labels: non-release
