Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-02, with the labels that each got.

#977 Add WanSync support [CN-369]
  Makefile
  PROJECT
  api/v1alpha1/map_types.go
  api/v1alpha1/wanreplication_types.go
  api/v1alpha1/wansync_types.go
  api/v1alpha1/wansync_validation.go
  api/v1alpha1/wansync_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_wansyncs.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/wansync_editor_role.yaml
  config/rbac/wansync_viewer_role.yaml
  config/samples/_v1alpha1_wansync.yaml
  config/samples/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/annotation.go
  controllers/hazelcast/cronhotbackup_controller.go
  controllers/hazelcast/data_structure_controller.go
  controllers/hazelcast/hazelcast_controller.go
  controllers/hazelcast/hazelcast_resources.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/jetjob_controller.go
  controllers/hazelcast/jetjobsnapshot_controller.go
  controllers/hazelcast/map_controller.go
  controllers/hazelcast/wan_resources.go
  controllers/hazelcast/wanreplication_controller.go
  controllers/hazelcast/wansync_controller.go
  controllers/hazelcast/wansync_status.go
  controllers/managementcenter/managementcenter_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  helm-charts/hazelcast-platform-operator/templates/_helpers.tpl
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
  internal/config/hazelcast.go
  internal/hazelcast-client/wan_service.go
  internal/hazelcast-client/wan_sync_service.go
  internal/naming/constants.go
  internal/phonehome/phonehome.go
  internal/protocol/codec/builtin.go
  internal/protocol/codec/mc_event_codec.go
  internal/protocol/codec/mc_poll_mc_events_codec.go
  internal/protocol/codec/mc_wan_sync_map_codec.go
  internal/protocol/types/mc_event.go
  internal/protocol/types/wan_sync.go
  internal/util/util.go
  main.go
  test/e2e/config/hazelcast/config.go
  test/e2e/hazelcast_wan_sync_test.go
  test/e2e/helpers_test.go
  test/integration/suite_test.go
  test/integration/wansync_test.go
Labels: feature

#988 Refactor HotBackup persistence validation
  api/v1alpha1/hotbackup_validation.go
  controllers/hazelcast/hot_backup_controller.go
  controllers/hazelcast/hot_backup_controller_test.go
Labels: fix, non-release

#928 Update Hazelcast and MC version
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/managementcenter_types.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/samples/_v1alpha1_hazelcast_jet.yaml
  config/samples/_v1alpha1_hazelcast_jet_job_upload.yaml
  config/samples/_v1alpha1_jetjob.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/naming/constants.go
Labels: non-release

#987 add retry logic for WanSync requests
  api/v1alpha1/wansync_types.go
  config/crd/bases/hazelcast.com_wansyncs.yaml
  controllers/hazelcast/wansync_controller.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/hazelcast-client/wan_sync_service.go
  test/e2e/helpers_test.go
  test/integration/wansync_test.go
Labels: non-release

#990 Update PR commend bot
  .github/scripts/utils.sh
Labels: non-release

#1004 Fix e2e tests
  .github/codecov.yml
  .github/scripts/utils.sh
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-platform-misc.yaml
  .github/workflows/e2e-platform-resilience.yaml
  .github/workflows/generate-test-report.yaml
  .github/workflows/k8s-dist-tests.yaml
  Makefile
  test/e2e/backup_restore_test.go
  test/e2e/cache_test.go
  test/e2e/hazelcast_test.go
  test/e2e/jetjob_test.go
  test/e2e/map_test.go
  test/e2e/multimap_test.go
  test/e2e/platform_rolling_upgrade_test.go
  test/e2e/platform_rollout_restart_test.go
  test/e2e/user_code_test.go
  test/e2e/wan_sync_test.go
  test/e2e/wan_test.go
Labels: non-release

#1007 Replaced aws 'sync' to 'cp'
  .github/workflows/generate-test-report.yaml
  .github/workflows/k8s-dist-tests.yaml
Labels: non-release

#989 [CN-1082] Expose path fields for MC Ingress configuration
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_validation.go
  config/crd/bases/hazelcast.com_managementcenters.yaml
  controllers/managementcenter/managementcenter_resource_test.go
  controllers/managementcenter/managementcenter_resources.go
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  test/integration/hazelcast_config_test.go
  test/integration/hazelcast_properties_test.go
  test/integration/hazelcast_test.go
  test/integration/managementcenter_test.go
  test/integration/util_test.go
Labels: feature

#1015 Remove kind flag and exclude test case by labels
  .github/workflows/e2e-ocp.yaml
  Makefile
  test/e2e/expose_externally_test.go
  test/e2e/options_test.go
Labels: non-release

#1022 Remove explicit skip checks
  .github/workflows/pull-request.yml
  test/e2e/backup_restore_test.go
  test/e2e/cache_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/hazelcast_test.go
  test/e2e/jetjob_test.go
  test/e2e/jetjobsnapshot_test.go
  test/e2e/management_center_test.go
  test/e2e/map_test.go
  test/e2e/multi_ns_test.go
  test/e2e/paltform_wan_test.go
  test/e2e/platform_persistence_test.go
  test/e2e/platform_resilience_test.go
  test/e2e/platform_rolling_upgrade_test.go
  test/e2e/platform_rollout_restart_test.go
  test/e2e/platform_soak_test.go
  test/e2e/wan_sync_test.go
  test/e2e/wan_test.go
Labels: test, non-release

#1033 Delete leftover HazelcastEndpoints
  controllers/hazelcast/hazelcast_resources.go
  test/integration/hazelcastendpoint_test.go
Labels: non-release

#1035 Fix restore comparison in validation
  api/v1alpha1/hazelcast_validation.go
Labels: non-release

#1032 Refactoring on property logs
  controllers/hazelcast/hazelcast_resources.go
Labels: non-release

#1029 Makefile dry-run E2E tests
  Makefile
Labels: non-release

#1017 [CN-1127] Improve setup of security group and firewall rules for AKS, EKS, GKE
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-istio.yaml
  .github/workflows/e2e-platform-misc.yaml
  .github/workflows/e2e-platform-resilience.yaml
Labels: non-release

#1046 Fix E2E test focus
  test/e2e/e2e_suite_test.go
Labels: non-release

#1045 [CN-1133]-Add new metadata annotations for OCP bundle
  Makefile
  config/manifests/bases/hazelcast-platform-operator.clusterserviceversion.yaml
  test/e2e/helpers_test.go
Labels: non-release
