Repository hazelcast/hazelcast-platform-operator, pull requests merged in 2024-03, with the labels that each got.

#1038 [CN-962] Upgrade operator-sdk version to 1.28.1
  Dockerfile
  Makefile
  cmd/main.go
  config/crd/bases/hazelcast.com_caches.yaml
  config/crd/bases/hazelcast.com_cronhotbackups.yaml
  config/crd/bases/hazelcast.com_hazelcastendpoints.yaml
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/crd/bases/hazelcast.com_hotbackups.yaml
  config/crd/bases/hazelcast.com_jetjobs.yaml
  config/crd/bases/hazelcast.com_jetjobsnapshots.yaml
  config/crd/bases/hazelcast.com_managementcenters.yaml
  config/crd/bases/hazelcast.com_maps.yaml
  config/crd/bases/hazelcast.com_multimaps.yaml
  config/crd/bases/hazelcast.com_queues.yaml
  config/crd/bases/hazelcast.com_replicatedmaps.yaml
  config/crd/bases/hazelcast.com_topics.yaml
  config/crd/bases/hazelcast.com_wanreplications.yaml
  config/crd/bases/hazelcast.com_wansyncs.yaml
  config/default/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/controllers/annotation.go
  internal/controllers/hazelcast/cache_controller.go
  internal/controllers/hazelcast/cronhotbackup_controller.go
  internal/controllers/hazelcast/data_structure_controller.go
  internal/controllers/hazelcast/data_structure_status.go
  internal/controllers/hazelcast/fakes_test.go
  internal/controllers/hazelcast/hazelcast_controller.go
  internal/controllers/hazelcast/hazelcast_resources.go
  internal/controllers/hazelcast/hazelcast_resources_test.go
  internal/controllers/hazelcast/hazelcast_rest_client.go
  internal/controllers/hazelcast/hazelcast_status.go
  internal/controllers/hazelcast/hot_backup_controller.go
  internal/controllers/hazelcast/hot_backup_controller_test.go
  internal/controllers/hazelcast/hot_backup_status.go
  internal/controllers/hazelcast/jetjob_controller.go
  internal/controllers/hazelcast/jetjob_status.go
  internal/controllers/hazelcast/jetjob_status_test.go
  internal/controllers/hazelcast/jetjobsnapshot_controller.go
  internal/controllers/hazelcast/jetjobsnapshot_status.go
  internal/controllers/hazelcast/map_controller.go
  internal/controllers/hazelcast/map_status.go
  internal/controllers/hazelcast/multimap_controller.go
  internal/controllers/hazelcast/mutate/mutate.go
  internal/controllers/hazelcast/queue_controller.go
  internal/controllers/hazelcast/replicatedmap_controller.go
  internal/controllers/hazelcast/topic_controller.go
  internal/controllers/hazelcast/wan_resources.go
  internal/controllers/hazelcast/wanreplication_controller.go
  internal/controllers/hazelcast/wanreplication_status.go
  internal/controllers/hazelcast/wansync_controller.go
  internal/controllers/hazelcast/wansync_status.go
  internal/controllers/managementcenter/managementcenter_controller.go
  internal/controllers/managementcenter/managementcenter_resource_test.go
  internal/controllers/managementcenter/managementcenter_resources.go
  internal/controllers/managementcenter/managementcenter_status.go
  internal/controllers/reconcile_options.go
  test/integration/hazelcast_test.go
  test/integration/suite_test.go
Labels: non-release

#1053 Compatibility test workflow
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/helm-chart-sync.yaml
  .github/workflows/k8s-compatibility-test.yaml
Labels: test, non-release

#1016 [CN-1130] Added Wan Sync tests
  .github/workflows/e2e-platform-wan.yaml
  test/e2e/helpers_test.go
  test/e2e/platform_wan_test.go
Labels: non-release

#1055 [CN-1161]Make the test report compatible with latest ginkgo version
  .github/scripts/utils.sh
  Makefile
Labels: non-release

#1041 Add CP subsytem config for Hazelcast CR [CN-1149]
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_cp_subsystem.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/config/hazelcast.go
  internal/controller/hazelcast/cache_controller.go
  internal/controller/hazelcast/data_structure_controller.go
  internal/controller/hazelcast/fakes_test.go
  internal/controller/hazelcast/hazelcast_resources.go
  internal/controller/hazelcast/hazelcast_resources_test.go
  internal/controller/hazelcast/hot_backup_controller.go
  internal/controller/hazelcast/hot_backup_controller_test.go
  internal/controller/hazelcast/multimap_controller.go
  internal/controller/hazelcast/queue_controller.go
  internal/controller/hazelcast/replicatedmap_controller.go
  internal/controller/hazelcast/topic_controller.go
  internal/naming/constants.go
  internal/protocol/codec/cp_group_create_cp_group_codec.go
  internal/protocol/codec/cp_group_destroy_cp_object_codec.go
  internal/protocol/codec/cp_map_compare_and_set_codec.go
  internal/protocol/codec/cp_map_delete_codec.go
  internal/protocol/codec/cp_map_get_codec.go
  internal/protocol/codec/cp_map_put_codec.go
  internal/protocol/codec/cp_map_remove_codec.go
  internal/protocol/codec/cp_map_set_codec.go
  internal/protocol/codec/raft_group_id_codec.go
  internal/protocol/types/raft_group_id.go
  test/integration/hazelcast_test.go
  test/matcher.go
Labels: feature

#1063 Change the source for operator-sdk setup
  .github/workflows/test-and-release.yaml
Labels: non-release

#1060 [CN-1164]Added MC CR to upgrade test
  .github/workflows/test-and-release.yaml
Labels: non-release

#1047 CP Subsystem tests [CN-1153]
  internal/hazelcast-client/client.go
  test/e2e/config/hazelcast/config.go
  test/e2e/platform_cpsubsystem_test.go
Labels: non-release

#1070 Fix WAN replication tests
  .github/workflows/e2e-platform-wan.yaml
  Makefile
Labels: non-release

#1043 [CN-1152]: add localConfig to persistence
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/hazelcast.com_hazelcasts.yaml
  config/samples/_v1alpha1_hazelcast_persistence.yaml
  config/samples/_v1alpha1_hazelcast_persistence_agent.yaml
  config/samples/_v1alpha1_hazelcast_persistence_force_start.yaml
  config/samples/_v1alpha1_hazelcast_persistence_restore.yaml
  helm-charts/hazelcast-platform-operator/charts/hazelcast-platform-operator-crds/templates/all-crds.yaml
  internal/controller/hazelcast/hazelcast_resources.go
  internal/naming/constants.go
  test/e2e/backup_restore_test.go
  test/integration/hazelcast_test.go
Labels: feature

#1066 [CN-1163] Improve restore E2E tests
  test/e2e/backup_restore_test.go
  test/e2e/client_port_forward_test.go
  test/e2e/helpers_test.go
Labels: test

#1075 [CN-975][CN-976][CN-1192]: Add validations for persistence.restore field
  api/v1alpha1/hazelcast_types.go
  api/v1alpha1/hazelcast_validation.go
  api/v1alpha1/hotbackup_validation.go
  api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/hazelcast/hazelcast_resources_test.go
  internal/controller/hazelcast/hot_backup_controller_test.go
  test/e2e/backup_restore_test.go
  test/e2e/config/hazelcast/config.go
  test/e2e/platform_persistence_test.go
  test/integration/hazelcast_test.go
  test/integration/hotbackup_test.go
Labels: bug

#1073 Add CP Subsystem PhoneHome [CN-1149]
  internal/phonehome/phonehome.go
Labels: non-release

#1074 Set optional TLS to nil if no required Secret provided [CN-1157]
  api/v1alpha1/hazelcast_webhook.go
  api/v1alpha1/managementcenter_types.go
  api/v1alpha1/managementcenter_webhook.go
  config/webhook/manifests.yaml
  helm-charts/hazelcast-platform-operator/templates/webhook.yaml
  internal/controller/managementcenter/managementcenter_controller.go
  test/integration/hazelcast_test.go
  test/integration/managementcenter_test.go
Labels: bug, fix

#1080 Upgrade Go version to 1.21
  .github/workflows/docs-release.yaml
  .github/workflows/e2e-aks.yaml
  .github/workflows/e2e-cluster-scope.yml
  .github/workflows/e2e-eks.yaml
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-istio.yaml
  .github/workflows/e2e-nightly-ph.yaml
  .github/workflows/e2e-ocp.yaml
  .github/workflows/e2e-platform-misc.yaml
  .github/workflows/e2e-platform-resilience.yaml
  .github/workflows/e2e-platform-wan.yaml
  .github/workflows/e2e-platfrom-soak.yaml
  .github/workflows/k8s-dist-tests.yaml
  .github/workflows/multi-version-tests.yaml
  .github/workflows/pull-request.yml
  Dockerfile
  Dockerfile.tilt-debug
  go.mod
  go.sum
  test/maploader/Dockerfile
  test/maploader/go.mod
  test/maploader/go.sum
Labels: non-release

#1081 Revert "[CN-1124] Expose WAN port for Member service(a.k.a service-per-pod)"
  internal/controller/hazelcast/hazelcast_resources.go
  test/e2e/expose_externally_test.go
  test/integration/hazelcastendpoint_test.go
Labels: non-release

#1061 [CN-1118]Added tests for Tiered Storage
  test/e2e/platform_resilience_test.go
  test/e2e/platform_wan_test.go
Labels: non-release

#1069 [CN-1167] Fix for Platform tests
  .github/workflows/e2e-gke.yaml
  .github/workflows/e2e-platform-misc.yaml
  Makefile
  test/e2e/backup_restore_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers_test.go
  test/e2e/platform_persistence_test.go
  test/e2e/platform_resilience_test.go
  test/e2e/platform_rolling_upgrade_test.go
  test/e2e/platform_rollout_restart_test.go
  test/e2e/platform_wan_test.go
Labels: non-release
